/*Параграф <p>*/
.header__subtitle {
  position: absolute;
  z-index: 1;
  left: 64px;
  bottom: 30px;
  margin: 0;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}
